<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido <%= nombre %> <%= apellido %></h1>
    <p>Gracias por visitarnos.</p>
  </body>
</html>