<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 ALIGN=center><%= title %></h1>
    <p ALIGN=center>Bienvenido a <%= title %></p>
    <div ALIGN=center><IMG SRC="https://cdn.pixabay.com/photo/2017/03/22/23/14/dog-2166765_1280.png" ALIGN=MIDDLE WIDTH=620 HEIGHT=480 BORDER=5>  </div>
  </body>
</html>
